{% extends 'base.html' %}
{% block title %}
Nouveau don
{% endblock %}
{% block body %}
<section class="our-log-reg bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                <div class="sign_up_form inner_page">
                    <div class="heading">
                        <h3 class="text-center">Faire un Don</h3>
                    </div>
                    <div class="details">
                        <form ction="{% url 'nouveauProjet' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <!--  <input type="text" class="form-control" id="exampleInputName2" placeholder="Username"> -->
                                {{ form.montant }}
                            </div>
                            <div class="form-group">
                                <!-- <input type="email" class="form-control" id="exampleInputEmail3"
                                        placeholder="Email Address"> -->
                                {{ form.projet }}
                            </div>
                            <button type="submit" class="btn btn-log btn-block btn-thm2">Faire le Don</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}