{% extends "base.html" %}
{% load static my_tags %}
{% block title %}
Djagodeme | Liste des financements effectuer
{% endblock %}
{% block body %}
<div class="wrapper">
	<div class="box1">
		<div class="line1">
			<div class="line2 wrapper">
				{% for fin in fins %}
				{% if forloop.counter|modulo:3 == 1 %}
				<section class="col1">
					{% elif forloop.counter|modulo:3 == 2 %}
					<section class="col1 pad_left1">
						{% else %}
						<section class="col1 pad_left1">
							{% endif %}
							<h2><strong>{{don.projet.nom|first}}</strong><span>{{don.projet.nom|reste}}</span></h2>
							{{don.utilisateur}} <br>
                            {{don.montant}}
							{% comment %} <a href="{% url 'searchProjet' projet.id %}" class="button1">Plus d'info</a> {% endcomment %}
						</section>
						{% if forloop.counter|divisibleby:3 %}
			</div>
		</div>
		<div class="line1">
			<div class="line2 wrapper">
				{% endif %}
				{% empty %}
				Aucun don pour le moment
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %} 

{% comment %}
{% block title %}
Liste des dons
{% endblock %}
{% block body %}

<h1> Liste des dons faites </h1>
Les dons {{montant}} sur projet {{projet}} <br>
{% for ligne in dons %}
{{ligne}}
{% empty %}
inexistants pour le moment
{% endfor %}
{% endblock %} {% endcomment %}