{% extends "base.html" %}
{% load static my_tags %}
{% block title %}
Djagodeme | Liste des dons
{% endblock %}
{% block body %}
<div class="wrapper">
	<div class="box1">
		<div class="line1">
			<div class="line2 wrapper">
				<div class="shortcode_widget_table">
					<h4>Il y'a {{ count }} dons collectés pour ce projet</h4>
					<div class="ui_kit_table">
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th scope="col">Donnateur</th>
									<th scope="col">Montant</th>
								</tr>
							</thead>
							<tbody>
								{% for don in dons %}


								<tr>
									<td>{{ don.utilisateur }}</td>
									<td>{{ don.montant }}</td>
									<!-- 									<input type="text" value="{{ don.montant }}">
 -->
								</tr>
								{% endfor %}
								<tr>
									<td>Total</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}