{% extends "base.html"%}

<!--{% block connexion_top %}-->
<!--    {% if user.is_authenticated %}-->
<!--        <li><a href="{% url 'deconnexion' %}">Log out</a></li>-->
<!--    {% else %}-->
<!--        <li><a href="{% url 'connexion' %}">Log in</a></li>-->
<!--    {% endif %}-->
<!--{% endblock %}-->

{% block body %}
<section id="why-chose" class="whychose_us pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2>Pourquoi nous choisir</h2>
                    <p>We provide full service at every step.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="why_chose_us style2">
                    <div class="icon">
                        <span class="flaticon-high-five"></span>
                    </div>
                    <div class="details">
                        <h4>Trusted By Thousands</h4>
                        <p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel
                            felis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="why_chose_us style2">
                    <div class="icon">
                        <span class="flaticon-home-1"></span>
                    </div>
                    <div class="details">
                        <h4>Wide Renge Of Properties</h4>
                        <p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel
                            felis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="why_chose_us style2">
                    <div class="icon">
                        <span class="flaticon-profit"></span>
                    </div>
                    <div class="details">
                        <h4>Financing Made Easy</h4>
                        <p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel
                            felis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}