{% extends 'base.html' %}
{% block title %}
Nouveau projet
{% endblock %}
{% block body %}
<section class="our-log-reg bgc-fa">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3">
                <div class="sign_up_form inner_page">
                    <div class="heading">
                        <h3 class="text-center">Créez un projet</h3>
                    </div>
                    <div class="details">
                        <form ction="{% url 'nouveauProjet' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <!--  <input type="text" class="form-control" id="exampleInputName2" placeholder="Username"> -->
                                {{ form.nom }}
                            </div>
                            <div class="form-group">
                                <!-- <input type="email" class="form-control" id="exampleInputEmail3"
                                        placeholder="Email Address"> -->
                                {{ form.resume }}
                            </div>
                            <div class="form-group">
                                <!--  <input type="password" class="form-control" id="exampleInputPassword4"
                                        placeholder="Password"> -->
                                {{ form.secteur }}
                            </div>
                            <div class="form-group">
                                <!--  <input type="password" class="form-control" id="exampleInputPassword4"
                                                                    placeholder="Password"> -->
                                {{ form.statut }}
                            </div>
                            <div class="form-group">
                                <!--  <input type="password" class="form-control" id="exampleInputPassword5"
                                        placeholder="Confirm Password"> -->
                                {{ form.budget }}
                            </div>
                            <div class="form-group">
                                <!--  <input type="password" class="form-control" id="exampleInputPassword5"
                                                                    placeholder="Confirm Password"> -->
                                {{ form.date_pub }}
                            </div>
                            <div class="form-group">
                                <!--  <input type="password" class="form-control" id="exampleInputPassword5"
                                                                                                placeholder="Confirm Password"> -->
                                {{ form.couverture }}
                            </div>
                            <div class="form-group">
                                <!--  <input type="password" class="form-control" id="exampleInputPassword5"
                                                                                                                            placeholder="Confirm Password"> -->
                                {{ form.user }}
                            </div>
                            <button type="submit" class="btn btn-log btn-block btn-thm2">Enregistrer le projet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  {% for field in form %}
            <div class="wrapper">
                {{ field.errors }}
                <span>{{ field.label_tag }}</span>
                {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %} -->
<p>
    <a href="{% url 'listeProjet' budget=0 statut='SDI' %}"> Retour à la liste des projets </a>
</p>
</form>
{% endblock %}